/* General CSS */
body {
  background-color: #b4aac0;
  width: 100%;
}

p,
.nav a {
  font-family: "Barlow Condensed", serif;
  font-weight: 300;
  font-style: normal;
  color: #1e0d33;
  font-size: x-large;
}

h1,
h2 {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
  color: #1e0d33;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

.text-block {
  margin: 0px 15%;
}

/* CSS for darker sections */
.dark {
  background-color: #1e0d33;
}

.dark h2 {
  color: #b4aac0;
}

.dark p {
  color: #817096;
}

/* navbar CSS */
#title {
  background-image: url(./images/background-light.png);
  background-size: cover;
}

#title > .container {
  display: flex;
  justify-content: center;
}

.nav {
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  background-color: #1e0d33;
  margin-top: 20px;
}

.nav a {
  color: #b4aac0;
}

.nav a:hover {
  color: #523e6b;
}

/* title name CSS */
#name {
  display: inline-block;
  padding: 150px 0px;
  margin-left: 15%;
}
#name p {
  color: #817096;
}

/* About CSS */
#about {
  padding: 50px 0px 0px 0px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container .first {
  flex-basis: 100%;
  text-align: start;
  order: -1;
}
#about .flex-container .second {
  text-align: justify;
  align-self: flex-end;
  flex-basis: 90%;
}

/* Education CSS */
#education {
  padding: 150px 0px;
}

#education .grid-container {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#education p {
  margin: 0px;
}

#education .school-name {
  color: #523e6b;
  font-size: large;
}

/* Research CSS */
#research-projects {
  background-image: url(./images/background-light_180.png);
  background-size: 85%;
  background-repeat: no-repeat;
}
#research {
  padding: 50px 0px;
}
#research h2 {
  text-align: center;
}

#research .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin: 40px 0px 0px 0px;
}

#research .grid-container .grid-cell {
  background-color: #1e0d33;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#research .grid-container .grid-cell p {
  color: #817096;
  text-align: center;
  margin: 0px;
}

#research .grid-container .grid-cell .school-name {
  color: #523e6b;
  font-size: large;
}

/* Projects CSS */
#projects {
  padding: 50px 0px 100px 0px;
}
#projects h2 {
  text-align: center;
}

#projects .carousel {
  width: 75%;
  margin-top: 40px;
}

.carousel-caption {
  background-color: #1e0d33;
  border-radius: 10px;
  padding: 10px 15px;
}

.carousel-caption h5 {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
  color: #b4aac0;
}

.carousel-caption p {
  color: #817096;
  font-size: medium;
  text-align: center;
  padding: 0;
}

.carousel-caption a {
  color: #b4aac0;
  text-decoration: none;
}

.carousel-caption a:hover {
  color: #817096;
}
/* Contact CSS */
#contact {
  padding: 50px 0px;
  background-image: url("./images/background-dark.png");
  background-size: cover;
}

#contact h2 {
  padding: 10px 0px;
}

#contact .contact-icon {
  background-color: #817096;
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
}

#contact p {
  margin: 5px 0px 0px 0px;
}

#contact .grid-container {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: auto auto auto;
  gap: 10px;
}

#contact .grid-container .grid-cell {
  width: auto;
}

#contact a {
  color: #817096;
  text-decoration: none;
}

#contact a:hover {
  color: #b4aac0;
}

/* Footer */
#footer {
  background-color: #817096;
}
#footer p {
  text-align: center;
  margin: 0px;
}

/* Large screens and lower */
@media (max-width: 992px) {
  /* About */
  #about h2 {
    text-align: center;
  }
  #about .text-container {
    justify-content: center;
  }
  #about .text-container .second {
    width: 100%;
  }

  .flex-container {
    flex-direction: column;
  }

  .flex-container .first {
    order: 0;
    width: 100%;
  }

  /* Education */
  #education h2 {
    text-align: center;
  }

  #education .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  #education .grid-container .date {
    text-align: end;
  }

  /* Projects */
  #projects .carousel {
    width: 100%;
  }
}

/* Medium screens and lower */
@media (max-width: 786px) {
  /* Title */
  #name {
    display: block;
    margin-right: 15%;
    text-align: center;
  }

  /* Research */
  #research .text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #research .grid-container {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}

/* X-small screens and lower */
@media (max-width: 576px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.25rem;
  }
}
